@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('./font/Inter-Regular.woff2') format("woff2");
}

@font-face {
    font-family: 'Inter';
    font-style: bold;
    font-weight: 700;
    src: url('./font/Inter-Bold.woff2') format("woff2");
}

@font-face {
    font-family: 'Inter';
    font-style: semibold;
    font-weight: 550;
    src: url('./font/Inter-SemiBold.woff2') format("woff2");
}

* {
    font-family: Inter;
}

/* body {  
    min-width:850px;
    overflow: auto; 
} */

@layer components {
    .landing-page {
        @apply left-0 right-0 top-0 h-screen
    }

    .navbar {
        /* @apply top-0 w-10/12 h-24 flex flex-row
        border-b-stone-800 font-bold text-gray-900; */
    }

    .open-login {
        @apply text-xl font-semibold text-gray-900 bg-[rgba(242,201,76,1)] 
        py-3 px-3 rounded-xl hover:ring-4 ring-gray-800 cursor-pointer transition-all duration-100 ease-linear;
    }

    .discover-features {
        @apply text-xl font-bold text-gray-800 bg-transparent rounded-xl 
        ring-4 ring-gray-800 py-3 px-3 cursor-pointer 
        hover:translate-y-1 transition-all duration-100 ease-linear;
    }

    .main {
        @apply fixed w-screen h-screen right-0 left-0 top-0 bottom-0 bg-yellow-100/10;
    }

    .navbar-app {
        @apply fixed top-0 left-72 h-24 right-0 flex flex-row
        border-b-stone-800 font-bold text-gray-900;
    }

    .userProfile {
        @apply flex flex-row border-solid border-2 border-gray-800 hover:border-gray-500 
        rounded-3xl cursor-pointer my-auto py-1;
    }

    .sidebar {
        @apply fixed top-0 left-0 h-screen w-72
        flex flex-col shadow-2xl border-b-stone-800;
    }
    
    .sidebarItem {
        @apply flex flex-row font-bold text-xl text-gray-800 fill-gray-800
        w-full justify-center my-2 py-2 border-solid border-4 
        border-gray-700 rounded-2xl stroke-gray-800
        /* hover:border-gray-900 hover:text-gray-900  */
        hover:rounded-xl transition-all duration-200 ease-linear;
    }

    .app {
        @apply fixed left-72 right-0 top-24 bottom-0 m-10;
    }

    .platforms {
        @apply font-bold text-xl text-gray-800 fill-gray-800
        w-full justify-center my-2 py-2 border-dashed border-4
        border-gray-700 rounded-2xl stroke-gray-800
        hover:border-gray-900 hover:text-gray-900 transition-all duration-200 ease-linear;
    }

}
